@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

header {
    height: 90px;
    background: #546FE7;
    margin-bottom: 3%;
}

.navbar {
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}

.logo {
    font-family: 'Nunito', sans-serif;
    margin-left: 3%;
    float: left;
    padding: 27px 0;
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.3);
}

#FP {
    color: #273b91;
    font-weight: 900;
}

.menu {
    font-family: 'Poppins', sans-serif;
    margin-right: 3%;
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
}

.menu img {
    width: 50px;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
}

.menu img:hover {
    color: #fff;
    transform: scale(1.2);
}

main{
    display: table;
    margin: 0 auto;
}

button{
    margin-right: 50px;
    width: 300px;
    height: 200px;
}
